.tarjeta {
    width: 350px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid rgb(204, 234, 179);
  }

.imagenDiv {
  width: 100px;
  height: 130px;
}
